body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 14px !important;
    color: #666666;
    background: #FFFFFF;
}

/** 文字位置*/
.text_center{
    text-align:center;
    margin-left: auto;
    margin-right: auto;
}

.text_left{
    text-align:left;
}

/** div位置*/
.div_left{
    float:left;
}

.div_right{
    float:right;
}

.clear_both{
    clear: both;
}

.widthP100{
    width:100%;
}

.overflow_hidden{
    overflow:hidden !important;
}

.div_row{
    display:flex;
    flex-direction:row;
}

.div_column{
    display: flex;
    flex-direction: column;
}

.flex_row{
    display: flex;             /*设置为flex布局*/
    justify-content: center;   /*水平居中*/
    align-items: center;       /*垂直居中*/
    flex-direction: row;
}

.flex_column{
    display: flex;             /*设置为flex布局*/
    justify-content: center;   /*水平居中*/
    align-items: center;       /*垂直居中*/
    flex-direction: column;
}

.flex_row_left{
    display: flex;                   /*设置为flex布局*/
    justify-content: flex-start;     /*水平居中*/
    align-items: center;             /*垂直居中*/
    flex-direction: row;
}

.flex_row_right{
    display: flex;                   /*设置为flex布局*/
    justify-content: flex-end;       /*水平居中*/
    align-items: center;             /*垂直居中*/
    flex-direction: row;
}


.flex_column_left{
    display: flex;                  /*设置为flex布局*/
    justify-content:flex-start;     /*水平居中*/
    flex-direction: column;
}

.flex_grow_fill{
    flex-grow: 1;
}

/** div内圆形图片*/
.div_img_radius{
    margin:10px auto
}
.div_img_radius img{
    border-radius:50%
}

/** img圆形图片*/
.img_radius{
    border-radius:50%
}

/** 圆形按钮*/
.button_radius{
    height:34px;
    border-radius:17px;
}

/** 图片充满 */
.img_fit_center{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.footer{
	width:100%;
	height:60px;
	position:fixed;
	bottom:0px;
	left:0px;
	background:#000000;
}



